# Ignore node_modules
node_modules/

# Ignore build outputs
dist/
build/
src/app/

# Ignore logs
*.log

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp
*.temp

# Ignore editor-specific files
.vscode/
.idea/
.DS_Store