@import "tailwindcss";

.bg-btn-primary {
  background: #009aff;
  border: 2px solid #009aff;
}
.text-btn-primary {
  color: #009aff;
  border: 2px solid #009aff;
}
.input-border {
  border: 2px solid #425583;
  text-shadow: none;
}

/* .bg-btn-secondary {
  background: #425583;
} */
