@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

/* @plugin "tailwindcss-animate"; */

/* @custom-variant dark (&:is(.dark *)); */

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #F9F9F9;

}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  scrollbar-width: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;
}


.custom-radio {
  @apply w-5 h-5 appearance-none border-2 border-gray-400 rounded-full transition-all duration-200;
}

.custom-radio:checked {
  @apply bg-blue-500 border-blue-500 ring-2 ring-blue-300;
}

.custom-radio:checked::after {
  content: "";
  display: block;
  width: 50%; 
  height: 50%;
  background-color: white;
  border-radius: 50%;
 margin-top: 25%;
  margin-left: 25%;
  margin-bottom: 25%;
  margin-right: 25%;
}